<%- include('../partials/header.ejs') %>
<div class="container">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User ID / User name / User email</th>
        <th>Products</th>
        <th>Total</th>
        <th>Date</th>
        <th>Delete Order</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(order=>{%>
      <tr>
        <td scope="row"><%=order._id%></td>
        <td>
          <%=order.user.userId%> / <%=order.user.name%> / <%=order.user.email%>
        </td>
        <td>
          <%order.products.forEach(product=>{%>
          <p><%=product.name%> x <%=product.quantity%></p>
          <%})%>
        </td>
        <td>$<%=order.total%></td>
        <td><%=order.modifiedOn%></td>
        <td>
          <form action="/admin/delete-order" method="POST">
            <input type="text" name="orderId" hidden value="<%= order._id %>" />
            <button type="submit" class="btn btn-danger">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%-include('../partials/footer.ejs') %>
